.navItem {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 22px 0 12px;
    margin-left: 8px;
    height: 100%;
    gap: 17px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;

    &__text {

        font-size: 14px;
        color: #17171a;
    }

    &:hover {
        border-radius: 12px;
        background-color: #155ed40d;
    }

    &:hover .navItem__dropdown {
        display: block;
    }

    &__dropdown {
        display: none;
        position: absolute;
        width: 272px;
        padding: 16px 0 16px 0;
        top: 45px;
        left: 0;
        z-index: 40;
        border-radius: 24px;
        box-shadow: 0 36px 56px -4px rgba(0, 0, 0, 0.28);
        background-color: #fff;
        list-style: none;

        &__item {
            height: 48px;
            padding: 16px 24px 16px 24px;
            width: 100%;
            display: flex;
            align-items: center;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: normal;
            color: #939399;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
            cursor: pointer;

            &:hover {
                color: #17171a;
                ;
            }
        }

        .active {
            color: #155ed4;
        }
    }
}

@media (max-width:1100px) {

    .navItem {
        margin: 0;
        position: relative;
        cursor: pointer;
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: center;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    
        &__text {
            position: relative;
            text-align: center;
            font-size: 14px;
            color: #17171a;
        }
    
        &:hover {
            border-radius: 12px;
            background-color: #155ed40d;
        }
    
        &:hover .navItem__dropdown {
            display: block;
        }
    
        &__dropdown {
            display: none;
            position: absolute;   
            padding: 10px;
            flex-direction: column;
            width: 30%;      
            top: 10px;
           
            border-radius: 0px;
            border-end-start-radius: 24px;
            border-end-end-radius: 24px;
            box-shadow: 0 36px 56px -4px rgba(0, 0, 0, 0.28);
            background-color: #fff;
            list-style: none;
            z-index: 34;

            &__item {
                height: 24px;
                width: 100%;
                font-size: 14px;
                padding: 0;
                line-height: 1.5;
                color: #939399;
                transition: 0.2s ease all;
                -moz-transition: 0.2s ease all;
                -webkit-transition: 0.2s ease all;
                cursor: pointer;
    
                &:hover {
                    color: #17171a;
                    ;
                }
            }
    
            .active {
                color: #155ed4;
            }
        }
    }
    

}