@import '../../mixin.scss';
.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    
    &__btngroup {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 12px;
        z-index: 99;
        &__link {
            @include text__normal(0px);
            text-align: center;
            color: #155ed4;
        }
    }
}