.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    
    &__btngroup {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 12px;
        z-index: 99;
        &__link {
            font-size: 12px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.2px;
            text-align: center;
            color: #155ed4;
        }
    }
}