@import '../../mixin.scss';

.button {
    background-color: #155ed4;
    cursor: pointer;
    padding: 19px 42px;
    border: none;
    border-radius: 12px;

    .span {
        @include text__normal(0.6px);
        color: #fff;
    }
}

.button:hover {
    background-color: #4085e6;
}


.button:disabled {
    cursor: default;
    background-color: #fff;
    padding: 10px 28.5px;
    border-radius: 12px;
    border: solid 2px #dcdce6;

    .span {
        @include text__normal(0.6px);
        text-align: center;
        color: #17171a;
    }
}


@media (max-width:750px){
    .button {
        padding: 15px 25px;
    }
    
    .button:hover {
        background-color: #4085e6;
    }
    
    
    .button:disabled {
        
        padding: 10px 20.5px;
        border-radius: 12px;

    }
}