.button {
    background-color: #155ed4;
    cursor: pointer;
    padding: 20px 43px;
    border: none;
    border-radius: 12px;

    .span {
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.6px;
        text-align: center;
        color: #fff;
    }
}

.button:hover {
    background-color: #4085e6;
}


.button:disabled {
    cursor: default;
    background-color: #fff;
    padding: 10px 28.5px;
    border-radius: 12px;
    border: solid 2px #dcdce6;

    .span {
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.6px;
        text-align: center;
        color: #17171a;
    }
}