.currencyTab{
    display: flex;
    width: 100%;
    padding: 29px 25px 29px 25px;
    border-radius: 12px;
    background-color: #fff;
    margin: 50px 0 50px 0;
}

@media (max-width:950px){
    .currencyTab{
        display: grid;
        grid-template-rows:    repeat(2, 2fr);
        grid-template-columns: repeat(2, 2fr);
        gap:25px
    }
    
}

@media (max-width:600px){
    .currencyTab{
        display: grid;
        grid-template-rows:    repeat(1, 2fr);
        grid-template-columns: repeat(1, 2fr);
        gap:25px
    }
    
}