.info__container {
    height: 888px;
    background-color: #17171a;
    padding: 76px 0 0;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap:66px;

    .info__wrapper {
        display: flex;
        flex-direction: column;
        padding: 0 92px 0 64px;

        &__header {
            width: 55.2%;
            font-size: 24px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 1px;
            color: #fff;
        }

        &__info {
            display: flex;
            padding: 0;
            width: 268px;
            gap:24px;
            .icon{
                padding: 0;
                height: 20px;
                margin-top: 1.1vh;
            }
            .text {
                margin: 12px;
                width: 100%;
                font-size: 16px;
                font-weight:400;
                font-stretch: normal;
                font-style: normal;
                line-height: 20px;
                letter-spacing: normal;
                color: #dcdce6;
            }
        }
        &__info:nth-child(2){
            margin-top:16px
        }
        
    }

    .image__wrapper {
        position: relative;
        border-radius: 12px;
        
        overflow: hidden;
       
    }
}

@media (max-height: 800px){
    .info__container { 
        .image__wrapper {
            position: relative;
            overflow: hidden;
            object-fit: cover;
            img {
                margin-top: 0;
                width: 100%;
               height: 100%
    
            }
        }
    }
        
    }
    @media (max-height: 620px){
        .info__container { 
            overflow: scroll;
            .image__wrapper {
               display: none;
            }
        }
            
        }