.currency {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;   
    margin-left: 55px;
    padding: 0 55px 0 0px;
    border-right: solid 1px #f5f5fa;
    &:nth-child(1){
        margin-left: 0px;
        padding: 0 55px 0 0px;
    }
    &:nth-child(4){
        border: none;
    }

    &__infoWrapper {
        display: flex;
        align-items: center;
        gap: 8px;

        &__icon {
            background: #000;
            height: 32.4px;
            width: 32.4px;
            border-radius: 32px;
        }

        &__info {
            display: flex;
            flex-direction: column;

            &__title {
                margin: 0;
                font-size: 14px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 0.2px;
                color: #17171a;
            }

            &__text {
                margin: 0;
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #26bf66;
            }
        }
    }

    &__rateWrapper {
        &__rate {
            margin: 0;
            font-size: 26px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.37px;
            text-align: right;
            color: #17171a;
        }
    }
}

@media (max-width:1250px){
    .currency {  
        margin-left: 15px;
        padding: 0 15px 0 0px;
        border-right: solid 1px #f5f5fa;
        &:nth-child(1){
            margin-left: 0px;
            padding: 0 15px 0 0px;
        }
        &:nth-child(4){
            border: none;
        }
    
        &__rateWrapper {
            &__rate {
                margin: 0;
                font-size: 20px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 0.37px;
                text-align: right;
                color: #17171a;
            }
        }
    }
    
    
}

@media (max-width:950px){
    .currency {  
        margin-left: 0px;
        padding: 0 15px 0 0px;
        border-right: solid 1px #f5f5fa;
        &:nth-child(1){
            margin-left: 0px;
            padding: 0 15px 0 0px;
        }
        &:nth-child(2){
            border: none;
        }


    
        &__rateWrapper {
            &__rate {
                margin: 0;
                font-size: 20px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 0.37px;
                text-align: right;
                color: #17171a;
            }
        }
    }
    
    
}


@media (max-width:600px){
    .currency {  
        margin-left: 0px;
        padding: 0 15px 0 0px;
        border-right: none;
        &:nth-child(1){
            border: none;
        }


    
        &__infoWrapper {
        
    
            &__icon {
                height: 25px;
                width: 25px;      
            }
    
            &__info {
                display: flex;
                flex-direction: column;
    
                &__title {
           
                    font-size: 12px;
                
                }
    
                &__text {
                    font-size: 10px;
                    
                }
            }
        }
    
        &__rateWrapper {
            &__rate {
                font-size: 16px;
            }
        }
    }
    
    
}